<?xml version="1.0" encoding="utf-8" ?>
<nlog	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true" throwExceptions="false">

    <!-- Путь к log директории -->
    <variable name="logDir" value="${basedir}/Logs"/>
    <variable name="archDir" value="${basedir}/Logs/Archives/${date:format=yyyy-MM-dd}"/>
   
    <!-- Настройка Layout -->
    <variable name="consoleLayout" value="${date:format=HH\:mm\:ss} | ${message}"/>
    <variable name="shortLayout" value="${date:format=HH\:mm\:ss} | ${level:uppercase=true} | ${message}"/>
    <variable name="commonLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} | ${level:uppercase=true} |  ${message}"/>
    <variable name="detailedLayout" value="${date} | ${level:uppercase=true} | ${message}${onexception:${newline}   EXCEPTION\: ${exception:format=ToString}}"/>

    <variable name="text" value="${message}" />
    <variable name="tags" value="${level}" />
    <variable name="user" value="${identity:authType=false:isAuthenticated=false}" />
    <variable name="source" value="${machinename}" />
    <variable name="br" value="&lt;br/&gt;" />
    <variable name="+b" value="&lt;b&gt;" />
    <variable name="-b" value="&lt;/b&gt;" />
    <variable name="ex-text" value="${message}: ${exception}" />
    <variable name="ex-data" value="@html${newline}${+b}Exception:${-b} ${exception}${br}${br}${+b}Stack Trace:${-b}${stacktrace}" />
   
    <targets async="true">
        <!-- short log file target -->
        <target
  name="shortLog"
  xsi:type="File"
  fileName="${logDir}/${shortdate}-s.log"
  layout="${commonLayout}"
  archiveAboveSize="1048576"
  archiveFileName="${archDir}/${shortdate}-s.{#####}.log"
  archiveNumbering="Rolling" />
        <!-- end file target -->

        <!-- full log file target -->
        <target
  name="fullLog"
  xsi:type="File"
  fileName="${logDir}/${shortdate}-f.log"
  layout="${detailedLayout}"
  archiveAboveSize="4194304"
  archiveFileName="${archDir}/${shortdate}-f.{#####}.log"
  archiveNumbering="Rolling" />
        <!-- end file target -->

        <!-- Event log target -->
        <target
  name="systemLog"
  xsi:type="EventLog"
  layout="${detailedLayout}" />
        <!-- end event log target -->

        <!-- console target -->
        <target
  name="consoleLog"
  xsi:type="ColoredConsole"
  layout="${consoleLayout}"
  useDefaultRowHighlightingRules="true" encoding="unicode" />
        <!-- end console target -->
     
  </targets>
   
    <rules>
        <!-- Основные журналы -->
        <logger name="*" minlevel="Trace" writeTo="fullLog" />   
        <logger name="*" minlevel="Trace" writeTo="consoleLog" />
     
        <!-- Вспомогательные журналы 
        <logger name="*" minlevel="Info" writeTo="shortLog" />
        <logger name="*" minlevel="Info" writeTo="systemLog"/>
        -->
  </rules>
</nlog>